body{
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: "Libre Baskerville", "Times New Roman", serif;
    text-rendering: optimizeLegibility;
    color: $black;
    background: $white;
    text-align: left;
}