doctype html
html(language='en')

	include commons/head

	body
		.wrapper
			include commons/_header

			main
				h1 Hello!
				h2 Hello!
				h3 Hello!

			include commons/scripts
			include commons/_footer
